.follow
  .container
    .row
      .col-md
        .newsletter
          .section-head news letter
          p Subscribe to our weekly newsletter
          form
            input(type='email', placeholder='Email')
            button.fa.fa-long-arrow-right
      .col-md
        .follow-us
          .section-head Follow Us
          i.fa.fa-facebook-official
          i.fa.fa-facebook-official
          i.fa.fa-facebook-official
          i.fa.fa-facebook-official
