.h-slider 
  .slide.active-slide(data-index="1")
    .row
      .col
        include post.pug
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/02.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/03.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
  
  .slide(data-index="2")
    .row
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/04.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/05.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/06.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
  
  .slide(data-index="3")
    .row
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/07.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/08.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/09.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
  
  .slide(data-index="4")
    .row
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/10.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/11.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
      .col
        .post
          .post-img
            a(href="#")
              img(src="images/12.jpg", alt="alt")
            
          .post-category
            span.category
              a(href="#") Photography
              |  - 
              a(href="#") Nature

          .post-title
            h2
              a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island