.last-posts
  .container
    .row
      .col
        .section-head Popular Posts
    
    .slider-buttons
      i.fa.fa-long-arrow-left.fa.left-button.disabled-button

      i.fa.fa-long-arrow-right.right-button 

    include h-slider.pug


    .more-button
      a(href="#") More Posts

