.nav-list.bounceInUp
  .container
    .row
      .col-md
        a(href="#").nav-title Art
        ul
          li.upper
            a(href="#") View all          
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 

      .col-md
        a(href="#").nav-title Design  
        ul
          li.upper
            a(href="#") View all          
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 

      .col-md
        a(href="#").nav-title Photography
        ul
          li.upper
            a(href="#") View all          
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 

      .col-md
        a(href="#").nav-title Architecture 
        ul
          li.upper
            a(href="#") View all  
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 

      .col-md
        a(href="#").nav-title Travel  
        ul
          li.upper
            a(href="#") View all          
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel                       