.post
  .post-img
    a(href="#")
      img(src="images/01.jpg", alt="alt")
    
  .post-category
    span.category
      a(href="#") Photography
      |  - 
      a(href="#") Nature

  .post-title
    h2
      a(href="#") Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island