.writers
  .container
    .row
      .col
        .section-head Our Writers
    
    .row
      .col-lg
        include writer.pug
      .col-lg
        include writer.pug
      .col-lg
        include writer.pug