.writer
  .writer-img
    img(src="images/omar.jpg", alt="alt")
  
  .writer-name
    h2
      a(href="#") Omar Abd Elazim

  .writer-info
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  .writer-contact
    ul.nav
      li.facebook
        a(href="#")
          i.fa.fa-facebook-official
      li.twitter
        a(href="#")
          i.fa.fa-twitter
      li.instagram
        a(href="#")
          i.fa.fa-instagram
      li.pinterest
        a(href="#")
          i.fa.fa-pinterest
      li.medium
        a(href="#")
          i.fa.fa-medium
      li.linkedin
        a(href="#")
          i.fa.fa-linkedin-square   
      li.email
        a(href="#")
          i.fa.fa-envelope-o 