.footer.header
  .container-fluid
    .row.bounceInDown
      .col-md
        ul.nav
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 