.header
  .container-fluid
    .row.top-bar
      .col-md
        i.fa.fa-bars.fa-fw.open-nav
      .col-md
        .logo
          h1
            a(href="index.html") Passenger
      .col-md  
        i.fa.fa-search.fa-fw.pull-right

    .row.nav.bounceInDown.headroom.headroom--pinned
      .col-md
        ul
          li
            a(href="#") Art  
          li
            a(href="#") Design   
          li
            a(href="#") Photography   
          li
            a(href="#") Architecture 
          li
            a(href="#") Travel 