.slider.bounceInDown
  .container
    .slide.active-slide
      .row
        .col-md-6.intro-left
          a(href="#")
            img.wow.fadeInDown(src="images/01.jpg", alt="Home Intro")
        .col-md-6.intro-right
          span.category.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") Photography
            |  - 
            a(href="#") Nature
          h2.title.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") The Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
          p.paragraph.wow.fadeInUp  The work of Dutch photographer Melissa Schriek explores the connection between people and their environment. She is interested in visualizing...  
          .readmore.wow.fadeInUp
            a(href="#") Read More

    .slide
      .row
        .col-md-6.intro-left
          a(href="#")
            img.wow.fadeInDown(src="images/02.jpg", alt="Home Intro")
        .col-md-6.intro-right
          span.category.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") Photography
            |  - 
            a(href="#") Nature
          h2.title.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") The Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
          p.paragraph.wow.fadeInUp  The work of Dutch photographer Melissa Schriek explores the connection between people and their environment. She is interested in visualizing...  
          .readmore.wow.fadeInUp
            a(href="#") Read More      

    .slide
      .row
        .col-md-6.intro-left
          a(href="#")
            img.wow.fadeInDown(src="images/03.jpg", alt="Home Intro")
        .col-md-6.intro-right
          span.category.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") Photography
            |  - 
            a(href="#") Nature
          h2.title.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") The Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
          p.paragraph.wow.fadeInUp  The work of Dutch photographer Melissa Schriek explores the connection between people and their environment. She is interested in visualizing...  
          .readmore.wow.fadeInUp
            a(href="#") Read More

    .slide
      .row
        .col-md-6.intro-left
          a(href="#")
            img.wow.fadeInDown(src="images/04.jpg", alt="Home Intro")
        .col-md-6.intro-right
          span.category.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") Photography
            |  - 
            a(href="#") Nature
          h2.title.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") The Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
          p.paragraph.wow.fadeInUp  The work of Dutch photographer Melissa Schriek explores the connection between people and their environment. She is interested in visualizing...  
          .readmore.wow.fadeInUp
            a(href="#") Read More

    .slide
      .row
        .col-md-6.intro-left
          a(href="#")
            img.wow.fadeInDown(src="images/05.jpg", alt="Home Intro")
        .col-md-6.intro-right
          span.category.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") Photography
            |  - 
            a(href="#") Nature
          h2.title.wow.fadeInUp(data-wow-delay=".1s")
            a(href="#") The Stokkøya Cabin Sits Settled Into The Hillside Of Remote Norwegian Island
          p.paragraph.wow.fadeInUp  The work of Dutch photographer Melissa Schriek explores the connection between people and their environment. She is interested in visualizing...  
          .readmore.wow.fadeInUp
            a(href="#") Read More                            