doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include layout/styles
    title Passenger

  body
    
    include layout/header.pug
    include components/nav-list.pug
    include layout/intro.pug
    include components/last-posts.pug
    include components/follow.pug


    include layout/footer.pug
    



    include layout/scripts